@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Wix+Madefor+Text:ital,wght@0,800;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

/* --nav related styles-- */

nav{
    background-color:rgb(169, 119, 216);

}
body{
    font-family: 'Lato', sans-serif;
}
.nav-container{
    /* border: 1px solid rgb(133, 5, 65); */
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    max-width: 1400px;
    margin: 0 auto;

}
.nav-logo-container{
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-logo-container img{
    width: 70px;
    margin-right: 20px;
}
.nav-logo-container .hive-section{
    color: #91156c ;
}
.nav-logo-container p{
    font-size: 30px;
}
.nav-items-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav-items-container a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.nav-items-container .btn{
    padding: 15px;
    background-color: #190c86;
    border-radius: 10px;
}
.nav-items-container a:hover{
    color: #b10c8d;
    cursor: pointer;
    box-shadow: 5px 5px 15px 10px sandybrown;
}

/* --simple banner section styles */

.banner-container{
    max-width: 1400px;
    min-width: 50px;
    background-color: #e6e9eb;
    margin: 50px auto 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.banner-text{
    width: 50%;
    text-align: center;
}
.banner-text h1{
    background-image: linear-gradient(to bottom, #3c247e, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}
.banner-text p{
    font-size: 45px;
    font-family: 'dancing secript',cursive;
}
.fa-brands{
    font-size: 55px;
}
.icons-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0  auto 20px;
}
.banner-btn{
    background-color:rgb(26, 40, 168);
    color: wheat;
    padding: 10px 20px;
    border: 2px solid #9376e0;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 20px;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* banner section design  here */
.products-header{
    text-align: center;
}
.card-container{
    max-width: 1400px;
    min-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.single-products{
    box-shadow: 10px 10px 10px 0px #0d0c18;
    background-color: rgb(152, 166, 180);
    border-radius: 10px;
    /* margin: 15px; */
    padding: 10px;
}
.single-products img{
    width: 80%;
    display: block;
    margin: 0 auto;

}
.single-products p{
    font-size: 20px;
    margin-left: 15px;
}
.icons-container-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.products-icons{
    font-size: 20px;
}
.icons-container-name span{
    padding: 10px;
    background-color: #9376e0;
    border-radius: 50%;
    margin-left: 5px;
    color: white;
}

/* --discount design start here-- */

.discount-section{
    margin-top: 30px;
    background-color: #9376e0;
    padding: 20px 0;
}
.discount-container{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.discount-img{
    width: 50%;

}
.discount-img img{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}
.discount-number{
    width: 80px;
    height: 80px;
    background-color: rgb(143, 143, 35);
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 197%;
    left: 38%;
}
.discount-text{
    width: 50%;
}
.discount-btn{
    border:2px solid black;
    color:black;
    font-size: 20px;
}

/* --discount design end here-- */

/* -- user review section start here--  */
.review-container{
    gap: 10px;
    min-height: 200px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.single-review{
    flex-basis: 300px;
    background-color: #e893cf;
    padding: 10px;
    border-radius: 10px;
}
.review-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-review img{
    width: 60px;
    height: 60px;
}

/* -- user review section end here--  */

/* footer section design. */
.footer-section{
    min-height: 200px;
    background-color: #3c247e;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e9eb;
}
.footer-section img{
    width: 50px;
}
.footer-section p{
    color: aliceblue;
    font-size: 20px;
}