*{
    box-sizing: border-box;
}

/* --nav related styles-- */

nav{
    background-color:rgb(169, 119, 216);

}
.nav-container{
    /* border: 1px solid rgb(133, 5, 65); */
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    max-width: 1400px;
    margin: 0 auto;

}
.nav-logo-container{
    /* border: 1px solid blueviolet; */
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-logo-container img{
    /* border: 1px solid salmon; */
    width: 70px;
    margin-right: 20px;
}
.nav-logo-container .hive-section{
    color: #91156c ;
}
.nav-logo-container p{
    font-size: 30px;
}
.nav-items-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav-items-container a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.nav-items-container .btn{
    padding: 15px;
    background-color: #190c86;
    border-radius: 10px;
}
.nav-items-container a:hover{
    color: #b10c8d;
    cursor: pointer;
}

