@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Wix+Madefor+Text:ital,wght@0,800;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

/* --nav related styles-- */

nav{
    background-color:rgb(169, 119, 216);

}
body{
    font-family: 'Lato', sans-serif;
}
.nav-container{
    /* border: 1px solid rgb(133, 5, 65); */
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    max-width: 1400px;
    margin: 0 auto;

}
.nav-logo-container{
    /* border: 1px solid blueviolet; */
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-logo-container img{
    /* border: 1px solid salmon; */
    width: 70px;
    margin-right: 20px;
}
.nav-logo-container .hive-section{
    color: #91156c ;
}
.nav-logo-container p{
    font-size: 30px;
}
.nav-items-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav-items-container a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.nav-items-container .btn{
    padding: 15px;
    background-color: #190c86;
    border-radius: 10px;
}
.nav-items-container a:hover{
    color: #b10c8d;
    cursor: pointer;
    box-shadow: 5px 5px 15px 10px sandybrown;
}

/* --simple banner section styles */

.banner-container{
    max-width: 1400px;
    min-width: 50px;
    background-color: #e6e9eb;
    margin: 50px auto 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.banner-text{
    width: 50%;
    text-align: center;
}
.banner-text h1{
    background-image: linear-gradient(to bottom, #3c247e, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}
.banner-text p{
    font-size: 45px;
    font-family: 'dancing secript',cursive;
}
.fa-brands{
    font-size: 55px;
}
.icons-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0  auto 20px;
}
.banner-btn{
    background-color:rgb(26, 40, 168);
    color: wheat;
    padding: 10px 20px;
    border: 2px solid #9376e0;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 20px;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
